@charset "utf-8";
/* base开始 */
@font-face {
	font-family:'wf_segoe-ui_normal';
	src:url('fonts/latest.eot');
	src:local("Segoe UI"),local("Segoe"),local("Segoe WP"),url('fonts/latest.eot?#iefix') format('embedded-opentype'),url('fonts/latest.woff') format('woff'),url('fonts/latest.ttf') format('truetype'),url('fonts/latest.svg#web') format('svg');
}

html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,strong,b,u,i,dl,dt,dd,ol,ul,li,form,label,menu,nav,input,textarea,blockquote{ margin:0; padding:0; border:0; font-family: wf_segoe-ui_normal; /* font-family: Segoe UI, Tahoma , Verdana , Arial , sans-serif; */ font-size:12px;}
ol,ul {	list-style:none}
a{ text-decoration:none; color:#5b5b5b;}
a:hover{color:#e94609;}
p{ line-height:21px;}
.clear{ clear:both;}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
.fl{ float: left;}
.fr{ float: right;}
.tl{ text-align: left;}
.tc{ text-align: center;}
.tr{ text-align: right;}
.w85{ width: 84.7%}
.w100{ width: 100%;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.mt20{ margin-top: 20px;}
.mb15{ margin-bottom: 15px;}
.mb20{ margin-bottom: 20px;}
.pt10{ padding-top: 10px;}
.pb10{ padding-bottom: 10px;}
.pt15{ padding-top: 15px;}
.pt20{ padding-top: 20px;}
.bd{border: 1px solid #d7d9d8;}
.bdt{border-top:1px solid #e0e0e0;}
body{ min-width:320px;}
/* base结束 */

/*head-footer.css 开始*/
h1,h1 a{ font-size:22px; line-height:24px;}
h2,h2 a{ font-size:19px; margin-bottom:5px; /* font-family:wf_SegoeUILight */}
h3,h3 a{ font-size:16px;}
h1,h1 a,h2,h2 a,h3,h3 a{ color:#373737; font-weight:normal;}
h1 + p{ margin-top:5px;}

.topLocation{ width:100%; padding: 8px 0; height:15px; line-height:15px; background-color:#293649;  display:none;}
.topLocIn{ width:340px; margin:0 auto; color:#ffffff;}
.topLocIn a{color:#ffffff;}

.indexTop{ max-width:1440px; min-width: 1440px; height:79px; margin:auto; position:relative;}
.indexTopLeft{width:154px; float:right;  margin-top:20px; margin-right: 6.4%;}
.indexTopLeft img{ width:100%; min-width:100px;}
.indexTopRight{ float:left;  margin-top:30px; margin-left: 6.4%;}

.top{ max-width:1024px; min-width: 1024px; height:79px; margin:auto; position:relative;}
.topLeft{ width:154px; float:right;  margin-top:20px; margin-right:2.5%;}
.topLeft img{ width:100%; min-width:100px;}
.topRightIco{ position:absolute; top:0; right:28px; display:none; cursor:pointer}
.topRight{ float:left;  margin-top:30px; margin-left:2.5%;}
.location{ float:right;}
.websites{ float:left; margin-top: -2px; /* background:url(../images/head-footer/website_bg.png) no-repeat left top; height: 15px; padding-left:18px;  */margin-right:15px;}
/* .websites:hover{ background-position: 0 -23px;} */

.navigation{ height:28px; background:url(../images/head-footer/nav_1.gif) repeat-x; width:100%; display:none;}
.navigationLeft{ float:right; line-height:28px; color:#ffffff; margin-right:14px;}
.navigationRight{ float:left; margin-left:15px;}

.indexMenu{ width:100%; height:28px; background:url(../images/head-footer/nav_1.gif) repeat-x;}
.indexMenuin{ max-width: 1440px; min-width: 1440px; margin: auto;}
.indexMenu ul li{ float:right; line-height:28px; width:17%; text-align:center; }
.indexMenu ul li a{ border-left:1px solid #7e8693; color:#e8e8e8; display:block}
.indexMenu ul li.menuLast{ width:15%}
.indexMenu ul li.menuLast a{ border-left:none}
.indexMenu ul li:hover{ background:url(../images/head-footer/nav_2.gif) repeat-x;}
.indexMenu .menuin-cur{background:url(../images/head-footer/nav_2.gif) repeat-x;}

.menu{  width:100%; height:28px;  background:url(../images/head-footer/nav_1.gif) repeat-x;}
.menuin{ margin:auto; max-width:1024px; min-width: 1024px;}
.menu ul li{ float:right; line-height:28px; width:17%; text-align:center;}
.menu ul li a{ border-left:1px solid #7e8693; color:#e8e8e8; display:block}
.menu ul li.menuLast{ width:15%}
.menu ul li.menuLast a{ border-left:none}
.menu ul li:hover{ background:url(../images/head-footer/nav_2.gif) repeat-x;}
.menu .menuin-cur{background:url(../images/head-footer/nav_2.gif) repeat-x;}

.indextoTop{ width:100%; display:none; background-color:#f3f3f3;}
.toTop{ width:100%; display:none;}
.toTopImg{ width:30px; margin:auto; }

.indexfooter{width:100%; height:58px; border-top:1px solid #c8c8c8; }
.footer{ width:100%; height:58px; border-top:1px solid #c8c8c8; margin-top: 50px;}
.indexfooterin{ max-width:1440px; margin:auto; min-width: 1440px;}
.indexfooterin .footerinLeft{ margin-left: 6.4%;}
.indexfooterin .footerinRight { margin-right: 6.4%;}

.footerin{ max-width:1024px; margin:auto;}
.footerinLeft{ float:right; margin-right:1.5%; margin-top:20px;}
.footerinRight{ float:left; margin-left:1.5%;}

.focus{float:left; width:24px; height:24px; margin:17px 5px 0 5px; background:url(../images/head-footer/csg.png); cursor:pointer}
.youtube{ background-position: 0 0;}
.youtube:hover{ background-position: -132px 0;}
.facebook{ background-position: -44px 0; }
.facebook:hover{ background-position: -176px 0;}
.twitter{background-position: -88px 0;}
.twitter:hover{background-position: -220px 0;}

.link{ float:left; margin-left:10px; margin-top:20px;}
/*head-footer.css 结束*/


/*公共头部、底部、表单、侧边栏开始*/
.menuNav{ width:100%; height:26px; background-color:#dddddd;}
.menuNavin{ max-width:1024px; height:26px; margin:auto; line-height:26px; padding-left:30px;}
.menuNavin a{ padding: 0 2px;}
.topSelect{ display:none; width:96%; border:5px solid #a9a9a9; margin-bottom:10px; height:22px;}
.topSelect select{ border:none; width:100%;}

.main{ width:100%; margin-top:6px;}
.content{ max-width:1024px; min-width: 1024px; margin:auto}
.conLeft{ width:17.6%; float:right; background-color:#e8e8e8; margin-right:1.5%;}
.conLeft ul li{ border-bottom:1px solid #bcbcbc; border-top:1px solid #ffffff; padding:5px 8px 5px 0;} 
.conLeft ul li:hover{ background-color:#f4f4f4; cursor:pointer;}
.curLi{background-color:#f4f4f4;}
.conLeft ul li.conLeftLast{ border-bottom:none; padding:0;}
.conLeft ul li a{color:#5b5b5b; line-height:22px; display:block; font-weight: bold; padding:5px 0 5px 8px; }

.conLeft .second{ display: none; background-color:#e8e8e8; border-bottom:1px solid #bcbcbc; border-top:1px solid #ffffff;}
.conLeft .second ul li{ border:none; font-weight:normal; list-style-position:outside;}
.conLeft .second ul li a{ line-height:16px; font-weight: normal;}
.conLeft .second .pro_active{ background-color:#f4f4f4;}
.conLeft .lis_cur{ display:block}

.conRight{ float:right; width:77.9%; margin-left:1.5%; margin-right:1.5%; color:#5b5b5b;}
.conRightTop{ width:100%; background-color:#f3f3f3;}
.conRightTopin{ padding:10px;}
.conRightTop h2{ font-size:20px; font-weight:normal}
.conRightMain{margin-top:10px;}
.mainBox{ float:right; width:72.2%; }
.mainBox p img{ max-width: 100%; margin: 10px 0;}
.conRightBanner{ width:100%;}
.conRightBanner img{ width:100%;}
.eachBox{ border-bottom:1px solid #e0e0e0; overflow:hidden; clear:both; padding-bottom:20px; margin-top:30px;}
.eachBox:last-child{ border: none; padding-bottom:0;}
.eachBoxImg{ float:right;  width:19%;  }
.eachBoxImg img{  width:100%; margin-top:5px;}
/*.eachBox img{float: left; width: 19%; margin-right: 2%}*/
.eachBoxText{ float:right; width:78.4%; margin-right:2.6%;}
.learnMore{ background:url(../images/head-footer/more_bg-ar.jpg) right center no-repeat; padding-right:15px;}
.learnMore a{color:#e94609;}

/*新右侧边栏样式开始*/
.sideBar{ float:right; width:26%; margin-right:1.8%; min-height: 430px;}
.sideBarin{ padding-right:7%; }
.sideContact{ padding-bottom:15px; margin-top:5px;}
.sideText{height: 29px; line-height: 29px; padding-right: 8px; margin-top: 1px; }
.sideText:hover{ cursor:pointer;}
.sideTel{  background: #e1e1e1 url(../images/head-footer/tel1.jpg) no-repeat; margin-top: 10px}
.sideFax{ background: #e1e1e1 url(../images/head-footer/fax1.jpg) no-repeat;}
.sideMail{  background: #e1e1e1 url(../images/head-footer/email1.jpg) no-repeat;}
.sideTel:hover{  background: #cccccc url(../images/head-footer/tel1_2.jpg) no-repeat;}
.sideFax:hover{ background: #cccccc url(../images/head-footer/fax1_2.jpg) no-repeat;}
.sideMail:hover{  background: #cccccc url(../images/head-footer/email1_2.jpg) no-repeat;}

.servOnline{  width: 192px; background-color: #ef7448; }
.servOnline:hover{ background-color: #e94609}
.servOnline p{ margin-right: 16px; color: #ffffff; height: 29px; line-height: 29px; font-size: 14px; }
.servOnline span{ font-size: 18px; margin-left: 50px;}
.sideSchBox{ margin-top: 31px;}
#sideSchBox{ height: 29px; border: 1px solid #d7d9d8}
#sideSchBox input{ border: none;}
#sideSchBox input[type='text']{ color: #999999; font-size: 14px;  width: 74%; padding-right: 6%; height: 29px; line-height: 29px; float: right;}
#sideSchBox input[type='submit']{ float: left; margin-left: 2%; background-image: url(../images/index/sch.jpg); width: 16px;  height: 29px;  cursor:pointer;}
.schbline{ border-top: 1px solid #d9d9d9; border-bottom: 1px solid #ffffff; margin-top: 18px;}
/*新右侧边栏样式结束*/


/*表单样式开始*/
.proForm{ margin-top:10px; }
#proForm{ border-top:1px solid #e0e0e0; padding-top:20px; margin-top:10px;}
#proForm div{ margin: 10px 0;}
#proForm div b{ font-weight: normal; display: block; float: right;}
#proForm label{ width: 15%; float: right; font-weight: bold; text-align: left; margin-left: 5%;}
#proForm input{ width: 79%; height: 25px; line-height: 25px; border: 1px solid #d7d9d8;}
#proForm input:focus{ border: 1px solid orange;}
#proForm p{ width: 79%; float: left;}
#proForm input[type='checkbox']{ width:15px; height: 12px; border: none;}
#proForm textarea{ width:79%; height: 100px; border: 1px solid #d7d9d8;}
#proForm input[type='submit']{ width:135px; height:28px; cursor:pointer; background-color: #293246; color: #ffffff; border-radius: 3px; border: none; margin-top: 10px;}
#proForm input[type='submit']:hover{ background-color: #e94609;}
#proForm #imtype{ width: 26%; padding-right: 5%;  height: 25px; float: right;}
#proForm #imvalue{ width: 48%; padding-right: 2%; float: left; color: #999999; }
/*表单样式结束*/

@media screen and (max-width:1024px){
	.menuNavin{ padding-left:23px;}
}

@media screen and (max-width: 940px){
	.sideMail{ display: none;}
}

@media screen and (max-width:768px){
	#lpButDivID-1320914009318{ display: none;}
	.topLeft{ width:20%;}
	.link{ display:none}
	.conLeft{ width:23.5%; margin-right:2%;}
	.conRight{ width:70.5%; margin-left:2%; margin-right:2%;}
	.mainBox{ width:100%; float:none;}
	
	.sideBar{ width:100%; margin-right:0; float:none; border-top:1px solid #e0e0e0; padding-top:10px; margin-top:20px; min-height: 250px;}
	.sideBarin{ border-left:none; padding-right:0;}
	
	.sideMail{ display: block;}
    .schbline{ display: none;}
	
	.headImg{ width:44.3%;}
	.headAdd{ width:53.5%;}
	
	.inqHead{ margin-left:10px;}

	#proForm label{ width: 99%; float: none; margin: 5px 0; display: block; text-align: right;}
	#proForm input{ width: 99%; }
	#proForm p{ width: 99%; float: none;}
	#proForm textarea{ width:99%;}
    #proForm .nbsp{ display: none;}	

    .footerinLeft{ margin-left: 2%;}
	.footerinRight{ margin-right: 2%;}
}

@media screen and (max-width:600px){
	.sideSearch{ width:100%; float:none; border-bottom:1px solid #e0e0e0;}
	#sideSaaechForm input{ width:92%;}
	.sideContact{ width:100%; float:none; border-bottom:1px solid #e0e0e0; margin-left:0}
	.quote{ border-top:none;}
}

@media screen and (max-width:480px){
    .menuNavin{ padding-left:15px;}
	
	.toTop{ display:block; margin-top: 50px;}
	.navigation{ display:block; cursor:pointer}
	.menu{ display:none; height:auto;}
	.menu ul li{ height:28px; width:100%; float:none;  line-height:28px; border-top:1px solid #4c5363; text-align:right;  }
	.menu ul li a{ background:#232b3f url(../images/head-footer/menu_bg-ar.png) 5% center no-repeat; padding-right:14px; color:#ffffff;}
	.menu ul li.menuLast{ width:100%;}
	.menu ul li a:hover{ background:#4c5363 url(../images/head-footer/menu_bg1-ar.png) 5% center no-repeat;}
	.menu .menuin-cur a{ background:#4c5363 url(../images/head-footer/menu_bg1-ar.png) 5% center no-repeat;}
	
	.topLeft{ width:154px; float:none; margin:auto}
	.topLeft img{ margin-top:20px;}
	.topRightIco{ display:block;}
	.topRight{ display:none;}
	.websites{background:url(../images/head-footer/website_bg1.png) no-repeat left top; }
	.websites:hover{ background-position: 0 -23px;}	
	.topSelect{ display:block;}
	.conLeft{ display:none;}
	.conRight{ width:94%; margin-left:3%; margin-right:3%;}
	
	.eachBoxImg{ width:24.4%;}
	.eachBoxText{ margin-right:3.3%; width:72.3%;}
	.menuNavin a{ display: none;}

	.footer{ height:75px; line-height:21px; margin-top: 0;}
	.footerinLeft{ float:none;  width:280px; margin:15px auto 10px;}
	.footerinRight{ float:none; width:110px; margin:auto}
	.focus{ margin-top:0;}
}

@media screen and (max-width:320px){
	.conRight{ margin-left:4.6%; width:90.8%; margin-right:4.6%;}
	.eachBoxImg{ width:38%;}
	.eachBoxText{ width:57%; margin-right:5%;}
}
/*公共头部、底部、侧边栏结束*/



/*产品内页css开始*/
.proText{ margin-right:2%; line-height: 18px;}
.proPic{ width:38%; float:left; margin-right: 4%; margin-bottom: 20px; position: relative;}
.proPic p{ text-align:center; margin-top:20px; border: 1px solid #bababa; padding: 2px 0;}
.proPic p:hover{ background-color: #bababa; }
.proPic p a{ display: block;}
.proPic p a:hover{ color: #ffffff; }
.proPic img{ width:100%;}

.changeMenu{ height:27px; border-bottom:1px solid #bababa; margin-top:20px;}
.changeMenu ul li{ width:120px; float:right; line-height:27px; background-color:#bababa; margin-left:4px; text-align:center; cursor:pointer}
.changeMenu ul li.hover{ background-color:#e94609; color:#FFF;}
.changeMenu ul li:hover{ background-color:#e94609; color:#FFF; }
.changeInfo{ margin-top:30px; margin-bottom:30px; line-height: 18px;}
#proInfo_2{ max-width: 576px; overflow: hidden;}
#proInfo_2:hover{ position: relative; overflow: visible;}

.botContact{border-top:1px solid #e0e0e0; padding-top:20px; margin-bottom:10px;}
.botContact p a{ color:#e94609}

#tabletitle{color:#FFF; font-weight:bold;}

@media screen and (max-width:768px){
	.botContact{  padding-bottom:10px;}
}

@media screen and (max-width:600px){
	.conLeft{ width:27.5%; margin-right:2.5%;}
	.proText{ float:none; margin-left:0; width:100%;}
	.proPic{ float:none; width:230px;}
	.proPic img{  margin-top:10px;}
	.proPic p{ text-align:left; margin-top:10px;}
	.conRight{ width:65%; margin-left:2.5%; margin-right:2.5%;}
	.changeMenu ul li{ width:48%; margin-left:1%;}
	#parameter{ display:none;}
}

@media screen and (max-width:520px){
	.changeMenu{ border-bottom:none}
	.changeMenu ul li{ width:48%; margin-left:2%; margin-top:3px;}
	.changeInfo{ margin-top:40px;}
}

@media screen and (max-width:480px){
	.conRight{ width:94%; margin-left:3%; margin-right:3%;}
	.proPic{ width:230px; margin:auto;}
	.proPic p{ text-align:center;}
}
/*产品内页css结束*/


/*解决方案开始*/
.eachCaseList{ }
.eachCaseList:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
.eachCaseList ul{ margin-top:10px; }
.eachCaseList ul li{ width: 31.3%; margin-left: 2%; float: right; height: 140px;}
.eachCaseList ul li:nth-child(3n){ margin-left: 0;}
.eachCaseList ul li div{ padding: 5px; }
.eachCaseList ul li img{ width:100%;}
.eachCaseList ul li p{ text-align:center; margin-top: 5px}
.eachCaseList:last-child{ }
.projectCase img{ margin:10px 0; max-width: 100%;}
.crushingPlant img{ margin: 10px 0; max-width: 100%;}

.p_prod_product{ width: 110px; height: 130px; margin-left: 20px; float: right;}

@media screen and (max-width:480px){
	.eachCaseList + .eachCaseList{ margin-top:30px;}
	.eachCaseList ul{ margin-top:1px; }
	.eachCaseList ul li{ width: 100%; float: none; background:url(../images/index/more_bg-ar.png) right 20px no-repeat; padding-right:12px; height: 30px; line-height: 30px;}
    .eachCaseList ul li + li{ margin-left:0}
    .eachCaseList ul li p{ width: 100%; text-align: right;}
    .eachCaseList ul li div{ border:none;}
	.eachCaseList ul li img{ display: none;}
	.eachCaseList:last-child{ margin-bottom: 20px}
}
/*解决方案结束*/

/*contact us begin*/
.headOffice{border-bottom:1px solid #e0e0e0; padding-bottom:15px;}
.headImg{ float:right; width:41.8%; margin-top:5px;}
.headImg img{ width:100%;}
.headAdd{ width:55%; margin-right:2.2%; float:right;}

.agencyOffice{border-bottom:1px solid #e0e0e0; padding-bottom:10px; margin-top:10px; }
.agencyOffice h3 + p{ margin-top: 5px;}
.agencyOffice:last-child{ border-bottom: none;}
/*contact us end*/

/*新闻模块开始*/
.firstNews{background-color: #e8e8e8; padding: 10px; margin-bottom: 20px;}
.fNewsLeft{ width: 60%;}
.fNewsLeft strong{ font-size: 14px; line-height: 24px;}
.fNewsLeft a{ color: #e94609;}
.fNewsRight{ width: 32.5%; margin-right: 5%;}
.fNewsRight img{ width: 100%;}
.newsList li{list-style-type: none; padding-right: 10px; margin: 8px 0; list-style-position: outside;}
.newsList li a{ width: 80%; display: inline-block; line-height: 20px}
.newsList span{ float: left; display: inline-block;}
.newsList li:nth-child(2n){ background-color: #eeeeee;}

.newsPage{ margin-bottom: 30px;}
.newsPage h2{ text-align: center;}
.newsTime{ text-align: center; border-bottom: 1px solid #e8e8e8; padding-bottom: 10px;}
.newsCon{ margin-top: 20px; line-height: 18px;}
.newsCon img{ max-width: 100%;}

@media screen and (max-width:480px){
	.firstNews{ display: none;}
}
/**list page**/
.listpage{line-height:25px;}
.listpage a{padding:2px 5px;}
.listpage a:hover{color:red;}
/*新闻模块结束*/

/*our websites开始*/
.difWeb ul li{ float: right; width: 48%; margin-right: 2%; height: 20px; background-color: #eeeeee; margin-top: 20px;}
.difWeb ul li:nth-child(2n){ margin-right: 4%;}
.difWeb ul li img{ margin: 2px 10px 0 20px; float: right;}
.difWeb ul li a{ line-height: 20px; float: right;}

.website_arrange{ width: 33%; float: right;}
.website_arrange ul li{ height: 20px;}
@media screen and (max-width:600px){
	.difWeb ul li{ width: 100%; float: none;}
	.difWeb ul li:nth-child(2n){ margin-right: 0;}
}
/*our websites结束*/

/*返回顶部*/
a[id="gotop"]{ width:60px; height:60px; position:fixed; bottom:40px; right:40px; border-radius:10px 10px 10px 10px; display:none; background-color:#cccccc; cursor: pointer; }
a[id="gotop"]:hover{  background-color:#999999;}
#gotop img{ display: block; margin: auto; margin-top: 17px;}

/*屏幕宽度<700px,商务通图标隐藏*/
@media screen and (max-width: 700px){
	.lpStaticButton{ display: none;}
}

/* video.html begin */
#focus{width:100%; min-width: 1440px; overflow:hidden;position:relative;color:#fff;margin-top:2px}
			#focus ul li{float:left;position:relative;overflow:hidden}
			#focus ul li img{width:100%}


			#focus ul {
				height: 380px;
				position: absolute;
			}
			#focus ul li div {
				overflow: hidden;
				position: absolute;
			}
			#focus .btnBg {
				bottom: 10px;
				height: 20px;
				left: 0;
				position: absolute;
				width: 1420px;
			}
			#focus .btn {
				bottom: 20px;
				height: 4px;
				padding: 0 13px;
				position: absolute;
				right: 0;
				text-align: center;
				width: 97%;
			}
			#focus .btn span {
				background: none repeat scroll 0 0 #fff;
				cursor: pointer;
				display: inline-block;
				height: 4px;
				margin-left: 10px;
				width: 40px;
			}
			#focus .btn span a {
				background: none repeat scroll 0 0 #fff;
			}
			#focus .btn span a:hover {
				background: none repeat scroll 0 0 #FF9900;
			}
			#focus .btn span.on {
				background: none repeat scroll 0 0 #FF9900;
			}	
                        #focus h1{color:#fff;font-weight:bold;}
			.bannermove{padding:10px;position:absolute;background:#e94609;border:1px #e94609 solid;line-height:18px;}
                        #tleft:hover, #tright:hover{background:#E94609}
                         .bannermove{width:300px; height:130px; position:absolute;left:10%;bottom:10%;opacity:0}
                         #focus h1{line-height:30px}
                         .bannermove p{margin-top:10px}
			 #infodown{position:absolute;bottom:0;right:318px;z-index:2000;display:block;line-height:37px;background:#313942;padding:0 1%}
			 #tleft{position:absolute;bottom:0;right:279px;;z-index:2000;background:#fff;z-index:30px;display:block;}
			 #tright{position:absolute;bottom:0;right:240px;background:#fff;z-index:2000;display:block;}
                         #tleft img , #tright img{padding:7px 12px;width:auto;}
			@media screen and (min-width:800px){
				.bannermove #hidden1,.bannermove #hidden2{display:none}	
				#cantonfair{background:none;border:none}
			}

			@media screen and (max-width:800px) and (min-width:500px){
				 .bannermove{width:200px;height:100%;position:absolute;left:50px;top:0;opacity:0}
				#focus ul li img{width:160%;left:-30%;top:0;position:absolute}
				#tleft{position:absolute;bottom:0;right:238px;z-index:2000;background:#fff;z-index:30px;display:block;}
                                #infodown{display:none;}
				#tright{position:absolute;bottom:0;right:200px;background:#fff;z-index:2000;display:block;}
                                #tleft img,#tright img{padding:4px 7px;width:auto;}
								.bannermove #hidden3{display:none}
			}
			@media screen and (max-width:500px) and (min-width:320px){
				.bannermove{width:100%;height:50px;position:absolute;left:0;bottom:0;opacity:0;}
				#focus ul li img{width:160%;left:-30%;top:-9%;position:absolute}
				#focus .btn{display:none}
                                 #tleft,#tright{display:none}
				 .pre{position:absolute;left:0;bottom:25px;color:#fff;padding:2px 5px;}
				 .next{position:absolute;right:0;bottom:25px;color:#fff;padding:2px 5px;}
				h1{font-size:16px;margin:5px 50px 0 50px;}
				 #focus p{font-weight:normal;font-size:12px;display:none;}
                                  #infodown{display:none;}
								.bannermove #hidden3{display:none}
			}        


.indexMain{ background-color:#f3f3f3;}
.indexCt{ max-width: 1440px; min-width: 1440px; margin: auto; color:#5b5b5b; background-color:#f3f3f3; padding: 50px 0 85px 0;}
.ctLeft{ float: right; margin-right: 6.4%; width: 24.3%; }
.ctLeft p{ line-height: 20px;}
.ltstNews{}
.ltstNewsImg{ float: right; width: 28.5%;}
.ltstNewsCt{ float: right; width: 65.7%; margin-right: 5%;}
.ltstNewsCt strong + p{ margin-top: 5px;}
.ctLeft ul{ margin: 20px 0 5px 0;}
.ctLeft ul li{ line-height: 18px;}
.ctLeft ul span{ float: right;}
.ctMid{ float: right; margin-right: 5.3%; width: 30%;}
.ctMid h2 span{ float: left; margin-top: 6px; display: none;}
.ctMid h2 span img{ margin-left: 10px;}
.threeApp{}
.threeApp .eachApp{ float: right; width: 31.6%; margin-right: 1.1%; }
.threeApp .eachApp:first-child{ margin-right: 0;}
.threeApp .eachApp img{ width: 100%;}

.eachApp{ position: relative; }
.eachApp:last-child{ display: none;}
.eachApp span{ display: none; position:absolute; }
.eachApp:hover{ cursor: pointer; }
.eachApp span{ display: block; left: 0;top: 70%; width: 100%; height: 30%; background-color: #000000; opacity: 0.7;}
.eachApp span p{ color: white; text-align: center;}

.ctMid h3{ margin: 17px 0 10px 0;}
.ctRight{ float: left; margin-left: 4.7%; width: 20.5%;}
.ctRight h2 + p{ margin-top: 8px;}
.readMore{ background:url(../images/index/more_bg-ar.png) right center no-repeat; padding-right:15px; font-style:italic}
.readMore a{color:#e94609;}

@media screen and (max-width: 1010px){
	.eachApp:hover span p{ font-size: 9px;}
	.ctLeft ul span{ display: none;}
}

@media screen and (max-width: 768px){
	.indexTopLeft{ margin-left: 3.4%;}
	.indexTopRight{ margin-right: 3.4%;}

	.indexCt{ padding: 20px 0 50px 0;}
	.ctLeft{ margin-right: 3.4%; padding-bottom: 15px; margin-bottom: 25px; width: 93.2%; border-bottom: 1px solid #d4d4d4;}
	.ltstNewsImg{ width: 14%;}
	.ltstNewsCt{ width: 82.4%; margin-right: 3.6%;}
	.ctLeft ul{ width: 49%;}
	.ctLeft ul span{ display: block;}
	.ctMid{ margin-right: 3.4%; width: 56.3%;}
	.eachApp:hover span p{ font-size: 14px;}
	.ctRight{ margin-left: 4.4%; width: 32.5%;}

	.indexfooterin .footerinLeft{ margin-left: 3.4%;}
	.indexfooterin .footerinRight { margin-right: 3.4%;}

}

@media screen and (max-width: 600px){
	.ctLeft{ margin-right: 4.3%; width: 91.4%;}
	.ltstNewsImg{ width: 18.2%;}
	.ltstNewsCt{ width: 76.6%; margin-right: 5%;}
	.ctLeft ul{ width: 64%;}
	.ctMid{ margin-right: 4.3%; width: 91.4%;  padding-bottom: 15px; margin-bottom: 25px; border-bottom: 1px solid #d4d4d4;}
	.threeApp .eachApp{ width: 25.4%; margin-left: 1.3%;}
	.ctRight{ margin-left: 4.3%; width: 91.4%;}
}
@media screen and (max-width: 480px){
	.indexTopLeft{ width:154px; float:none; margin:auto}
	.indexTopLeft img{ margin-top:20px;}
	.indexTopRightIco{ display:block;}
	.indexTopRight{ display:none;}

	.navigation{ display:block; cursor:pointer}
	.indexMenu{ display:none; height:auto;}
	.indexMenu ul li{ height:28px; width:100%; float:none;  line-height:28px; border-top:1px solid #4c5363; text-align:right;  }
	.indexMenu ul li a{ background:#232b3f url(../images/head-footer/menu_bg-ar.png) 5% center no-repeat; padding-right:14px; color:#ffffff;}
	.indexMenu ul li.menuLast{ width:100%;}
	.indexMenu ul li a:hover{ background:#4c5363 url(../images/head-footer/menu_bg1-ar.png) 5% center no-repeat;}
	.indexMenu .menuin-cur a{ background:#4c5363 url(../images/head-footer/menu_bg1-ar.png) 5% center no-repeat;}

	.ctLeft ul{ width: 90%;}
	.eachApp:hover span p{ font-size: 10px;}

	.indexfooterin .footerinLeft{ float:none;  width:280px; margin:15px auto 10px;}
	.indexfooterin .footerinRight { float:none; width:110px; margin:auto}
}
@media screen and (max-width: 320px){
	.ctLeft{ margin-right: 8.1%; width: 83.7%;}
	.ltstNewsImg{ width: 37.3%;}
	.ltstNewsCt{ width: 52.7%; margin-right: 10%;}
	.ctLeft ul{ width: 100%;}
	.ctMid{ margin-right: 8.1%; width: 83.7%;}
	.ctMid h2 span{ display: block;}
	.eachApp:hover span p{ font-size: 14px;}
	.threeApp{ overflow: hidden; }
	.threeApp .eachApp{ width: 130px; margin-right: 6px; margin-left: 0;}
	.eachApp:last-child{ display: block;}
	#appin{ width: 600px; }
	.ctRight{ margin-left: 8.1%; width: 83.7%;}
}
/* video.html end */

/* Application Page css begin*/
.flowPro{ border: 1px solid #e3e3e3; padding: 2% 1% 3% 2.8%; }
.extraStyle{  border: 1px solid #e3e3e3; border-top: none; height: 3px; width: 97%; margin:0 auto 15px;}
.flowImg{ float: right; width: 21.9%;}
.flowImg img{ width: 100%; margin-top: 0;}
.flowList{ float: right; width: 72%; margin-right: 5.4%;}
.flowList h3 + ul{ margin-top: 10px;}
.flowList ul li{ background: url(../images/application/flowListType.jpg) right 5px no-repeat; padding-right: 15px; height: 18px;}

#two-process{ position: relative; height: 40px; border-bottom: 1px solid #d7d9d8;}
#two-process strong{ position: absolute; top: 40px; width: 19px; height: 11px; background: url(../images/application/toBtm.jpg);}
#two-process li{ width: 50%; float: right;  font-size: 14px;}
#two-process li:hover{ cursor: pointer; color: #e94609;}
#two-process li.current{  color: #e94609; }
#two-process li span{ width: 7px; height: 7px; background: #293246; display: inline-block; margin-right: 8px;}
#two-process li.current span{ background: #e94609;}
#mining-box{ width: 94%; padding: 5px 2.5%; margin-top: 30px; padding-top: 20px;}
#mining-box ul li{ width: 100%; background: url(../images/application/flowListType.jpg) right 5px no-repeat; padding-right: 15px; height: 18px;}
.ore-box{ width: 94%; padding: 10px 3% 15px; color: white; background: #888888; margin-top: 22px;}
.ore-box h3{ color: white; border-bottom: 1px solid #b1b1b1;}
.ore-box ul li{ height: 20px; background: url(../images/application/flowListType.jpg) right 5px no-repeat; padding-right: 3%;}
#ore-intro ul li{ width: 27%; float: right;}
.ore-child p{ width: 22.2%; float: left;}
.ore-child p img{ width: 100%;}
.ore-child ul{ width: 70%; margin-left: 7.8%; float: left; padding-top: 18px;}


@media screen and (max-width: 600px){
	.flowImg{ display: none;}
	.flowList{ width: 94.6%;}
}
/* Application Page css end*/

/*right-bottom popup pic on page begin*/
#footerPopup{ position: fixed; right: -335px; bottom: 0;}
#footerPopup span{ display: none; font-size: 16px; color: white; position: absolute; right: 5px; top: 5px; cursor: pointer;}
/*right-bottom popup pic on page end*/


/* mining website begin */
@font-face {
	font-family:"Blooming Grove";
	src: url('fonts/bgrove.eot');
    src: url('fonts/bgrove.eot?#iefix') format('embedded-opentype'),
         url('fonts/bgrove.woff') format('woff'),
         url('fonts/bgrove.ttf') format('truetype'),
         url('fonts/bgrove.svg#bgroveregular') format('svg');
}
.m_indexMain{ color: #313942;}
.m_indexMain a{ color: #313942; }
#whatWeDo{ height: 218px; background: url("../images/mining/doBg.jpg");}
#whatWeDo p{ text-align: center; font-size: 13px; }
.doTitle{ text-align: center; padding-top: 25px; font-size: 74px; font-weight: bold; }
#indexPro{ width: 1070px; height: 289px; margin: 52px auto 71px;}
.eachCol{ float: left; margin-left: 50px; width: 230px; height: 289px; background-color: #303d44; border-radius: 4px;}
.firstCol{ margin-left: 0; padding-top: 25px; padding-right: 25px; width: 205px; height: 264px; background: url("../images/mining/firstColBg.jpg") no-repeat;}
.firstCol h2{ font-size: 18px; font-weight: bold; }
.firstCol ul li{ line-height: 24px; }
.firstCol ul li a{ font-family: "Arial"; font-size: 14px; }
.firstCol ul li a:hover{ text-decoration: underline; }
.eachColIcon{ margin-right: 90px; margin-top: 25px; }
.eachCol p{ width: 195px; margin: auto; text-align: center; color: white; }
.eachColTitle{ font-size: 18px; font-weight: bold; color: #e94609; text-align: center; padding: 10px 0; }
.eachColMore{ margin: 18px auto 0; width: 127px; height: 34px; background-color: #ea4609; }
.eachColMore a{ display: inline-block; width: 127px; line-height: 34px; text-align: center; color: white; }
.eachColMore:hover{ background-color: #c12b08; }
.green{ background-color: #9ccd24; }
.green:hover{ background-color: #658c07; }
#miningProject{ height: 435px; background: url("../images/mining/projectBg.jpg") center center repeat-x;}
.scrollButton{ width: 85px; margin: auto; }
#projectScrollLeft,#projectScrollRight{ float: right; cursor: pointer;  font-size: 24px; font-weight: bold;  width: 38px; height: 38px; text-align: center; line-height: 30px; background-color: #f4f4f4;}
#projectScrollRight{ margin-right: 9px; }
#projectScrollLeft:hover,#projectScrollRight:hover{ background-color: #ea4609; color: white;}
#projectShow{ position: relative; margin:38px auto 0; width: 1070px; height: 316px; overflow: hidden; }
#projectShow ul{ position: absolute; width: 2140px; }
#projectShow ul li{ float: right; width: 1070px;}
.projectShowLeft{ position: relative; width: 552px; }
.projectShowLeft div{ position: absolute; bottom: 0; padding: 13px 35px 0px 25px; height: 90px;  background: white; background:rgba(255,255,255,0.8); filter:alpha(opacity=80);}
.projectShowLeft div h3{ font-size: 16px; font-weight: bold; }
.projectShowLeft div p{ line-height: 17px; margin-top: 5px; }
.projectShowRight{ width: 518px; }
.projectShowImg{ position: relative; float: left; margin-left: 12px; margin-bottom: 12px;}
.projectShowImg p{ position: absolute; bottom: 0; width: 247px; height: 45px; text-align: center; line-height: 45px;  background: white; background:rgba(255,255,255,0.8); filter:alpha(opacity=80); }
.projectShowImg p a{ font-size: 13px; color: #2e3941; }

.epcmBanner{ margin-top: 1px; height: 81px; background: url("../images/mining/epcm/banner.jpg") center center repeat-x;}
.epcmIntro{ width: 1024px; height: 312px; margin: 39px auto 53px; }
.epcmIntroLeft{ width: 540px; }
.epcmIntroLeft h1{ font-size: 51px; font-weight: bold; margin-bottom: 35px; }
.epcmIntroLeft p{ font-size: 13px; }
.epcmIntroRight{ position: relative; width: 440px; height: 312px; overflow: hidden; }
.epcmScrollLeft,.epcmScrollRight{ position: absolute; top:140px; width: 32px; text-align: center; height: 31px; line-height: 31px; font-size: 18px; background: white; cursor: pointer;}
.epcmScrollLeft:hover,.epcmScrollRight:hover{ background-color: #ea4609; color: white;}
.epcmScrollRight{ right: 37px; }
.epcmIntroRight ul{ position: absolute; left: 0; }
.epcmIntroRight ul li{ float: left; width: 440px; height: 312px;}
.epcmflow{ height: 293px; background: url("../images/mining/epcm/indexBg.jpg") center center repeat-x; }
.epcmflow ul{ width: 1024px; margin: auto; padding-top: 46px; }
.epcmflow ul li{ float: right; margin-left: 16px; width: 198px; background: url("../images/mining/epcm/ar_next.png") left center no-repeat; }
.eachflow{ position: relative; cursor: pointer; }
.epcmflow .lastflow{ width: 166px; margin-left: 0; background: none; }
.flowName{ }
.flowName p{ position: absolute; top: 81px; width: 166px; text-align: center; height: 42px; line-height: 42px;  background: white; background:rgba(255,255,255,0.8); filter:alpha(opacity=80); font-size: 13px; font-weight: bold; }
.curflow .flowName p{ top:0; height: 192px; line-height: 192px; background:url("../images/mining/epcm/curflowCover.png"); font-weight: bold; color: #e94609;}
.flowNum{ position: absolute; right: 58px; bottom: 0; width: 50px; height: 38px; background: url("../images/mining/epcm/numBg.png");}
.flowNum p{ /*font-family: "Blooming Grove";*/ font-size: 24px; color: white; text-align: center; padding-top: 5px;}
.curflow .flowNum{ background: url("../images/mining/epcm/numBgCur.png");}

#m_container{ width: 1070px; margin:34px auto 100px; }
#m_conLeft{ width: 766px; }
#m_conLeft h1{ font-size: 25px; font-weight: bold; padding-bottom: 24px; margin-bottom: 20px; border-bottom: 2px solid #d9dadb; }
#m_conLeft table{ margin: 10px 0; }
.eachProBox{ position: relative; float: right; margin: 28px 0 31px 32px; width: 234px; height: 160px; cursor: pointer; }
.eachProBox:nth-child(4n){ margin-left: 0; }
.eachProBox p{ position: absolute; bottom: 0; width: 234px; height: 40px; line-height: 40px; text-align: center; font-size: 14px; font-weight: bold;  background: white; background:rgba(255,255,255,0.8); filter:alpha(opacity=80);}
.eachProBox ul{ display: none; position: absolute; z-index: 1; width: 234px; background-color: #ececec; border-bottom: 3px solid #e94709; }
.eachProBox ul li{ padding: 10px 18px; line-height: 19px; border-bottom: 1px solid #d2d3d7; }
.eachProBox ul li:last-child{ border-bottom: none; }
.eachProBox ul li:hover{ background-color: #e94709; }
.eachProBox ul li:hover a{ color: white; }
.eachProBox:hover ul{ display: block; }
#m_conRight{ margin-top: 7px; width: 259px; }
#m_conRight h3{ padding-right: 38px; height: 43px; line-height: 43px; background-color: #2f3942; font-size: 16px; font-weight: bold; color: white; }
#m_conRight h3 a{ display: block; font-size: 16px; font-weight: bold; color: white; }
#m_conRight h3:hover{ cursor: pointer; background-color: #1b2025; }
#m_conRight ul li{ cursor: pointer; padding: 8px 38px 8px 0; line-height: 23px; border-bottom: 1px solid #d9dadb; background: url("../images/mining/listBg.jpg") 237px 16px no-repeat; }
#m_conRight ul li a{ display: block; font-size: 14px; color: #333333;}
#m_conRight ul li:hover{ background: #ea4609 url("../images/mining/listBgHover.jpg") 237px 16px no-repeat; border-bottom: 1px solid white;}
#m_conRight ul li:hover a{ font-weight: bold; color: white; }
#m_conRight .m_curMenu{ background: #ea4609 url("../images/mining/listBgHover.jpg") 237px 16px no-repeat; border-bottom: 1px solid white; }
#m_conRight .m_curMenu a{ font-weight: bold; color: white; }
.treatment{ position: relative; margin-top: 29px; }
.treatmentTitle{ position: absolute; bottom: 0; width: 229px; padding: 0 15px; height: 36px; background:rgba(0,0,0,0.8); filter:alpha(opacity=80); }
.treatmentTitle p{ color: white; line-height: 36px; }
.treatmentTitle p span{ float: left; display: block; }
.eachProjectBox{ height: 250px; padding-bottom: 33px; margin-top: 32px; border-bottom: 1px dashed #d9dadb; }
.m_conLeftWrapper .eachProjectBox:first-child{ margin-top: 37px; }
.m_conLeftWrapper .eachProjectBox:last-child{ border-bottom: none; }
.eachProjectLeft{ width: 504px; }
.eachProjectRight{ padding: 40px 26px 0; width: 210px; height: 210px; background-color: #f0f1f3; }
.eachProjectRight h2{ font-size: 16px; font-weight: bold; }
.eachProjectRight p{ margin-top: 10px; line-height: 20px; }
.projectMore{ margin-top: 25px; margin-left: 40px; width: 127px; text-align: center; height: 34px; line-height: 34px; background-color: #e94609; }
.projectMore a{ display: block; color: white; }
.projectMore:hover{ background-color: #bb3604;} 
.m_projectPage{ margin-top: 18px; }
.m_projectPage p{ font-size: 13px; }
.m_projectPage p img{ float: right; display: block; margin: 19px 0 19px 21px; }
.eachMineralBox{ margin-top: 35px; padding-bottom: 25px; border-bottom: 1px dashed #d9dadb; }
.eachMineralBox ul{ position: relative; float: left; width: 587px; }
.eachMineralBox ul li{ display: none; }
.mineralTitle{ position: absolute; left: 0; bottom: 0; height: 38px; background: black; background:rgba(0,0,0,0.6); filter:alpha(opacity=60); }
.mineralTitle p{ float: left; padding-left: 15px; width: 407px; color: white; font-size: 16px; line-height: 38px;  }
.mineralTitle span{ float: right; display: inline-block; width: 165px;  height: 38px; line-height: 38px; background-color: #e94609; text-align: center;  }
.mineralTitle span a{ display: block; color: white; }
.mineralTitle span:hover{ background-color: #c12b08; }
.eachMineralBox .curMineralPic{ display: block; }
.eachMineralBox ol{ float: right; width: 165px; }
.eachMineralBox ol li{ position: relative; margin-bottom: 11px; cursor: pointer; }
.eachMineralBox ol li img{ display: block;  }
.eachMineralBox ol li span{ position: absolute; top: 0; display: none; width: 165px; height: 114px; background:rgba(0,0,0,0.5); }
.mineralIntro{ margin-top: 10px; }
.contactLeft{ width: 695px; }
.contactRight{ width: 330px; }
.contactLeft h1{ font-size: 25px; font-weight: bold; padding-bottom: 18px; margin-bottom: 22px; border-bottom: 2px solid #d9dadb; }
.contactRight h3{ font-size: 16px; font-weight: bold; margin-top: 6px; padding-bottom: 14px; margin-bottom: 20px; border-bottom: 2px solid #d9dadb;}
.contactLeft form input{ padding-right: 15px; border: none; width: 680px; height: 40px; line-height: 40px; background-color: #eeeef0; margin-bottom: 14px; font-size: 13px; color: #666666; font-style: italic; }
.contactLeft form textarea{ padding-right: 15px; width: 680px; height: 198px; line-height: 44px; font-size: 13px; color: #666666; font-style: italic; background-color: #eeeef0; border: none; }
.contactLeft form input[type="submit"]{ cursor: pointer; padding-left: 0; margin-top: 19px; width: 183px; height: 43px; border-radius: 4px; background-color: #a7a6ab; color: white; font-size: 15px; }
.contactLeft form input[type="submit"]:hover{ background-color: #636365; }
.contactInfo{ padding-bottom: 35px; margin-bottom: 30px; border-bottom: 1px dashed #d9dadb; }
.contactInfo p{ font-size: 13px; }
.otherContactInfo p{ cursor: pointer; margin-top: 7px; height: 38px; line-height: 38px; background-color: #eeeeef; text-align: center; font-size: 14px; }
.otherContactInfo p:hover{ background-color: #c0c0c1; }
.otherContactInfo p a{ font-size: 14px; color: #313941; }

#newSolution h1{ font-size: 25px; font-weight: bold; padding-bottom: 24px; border-bottom: 2px solid #d9dadb; }
.m_oreProcess{ height: 470px; margin-top: 47px; }
.m_oreProcess ul{ height: 302px; }
.m_oreProcess ul li{ display: none; }
.m_oreProcess .curOreProcess{ display: block; }
.oreProcessLeft{ width: 600px; }
.oreProcessRight{ width: 450px; }
.oreProcessRight h2{ margin-top: -5px; font-size: 40px; line-height: 40px; font-weight: bold; color: #333333;}
.oreProcessRight h2 + p{ margin-top: 20px; }
.oreProcessRight p{ margin: 5px 0; line-height: 18px;}
.oreProcessRight .processMore{ margin-top: 18px; width: 127px; height: 44px; line-height: 44px; background-color: #ea4609;text-align: center; cursor: pointer; }
.oreProcessRight .processMore a{ color: white; font-size: 14px; }
.oreProcessRight .processMore:hover{ background-color: #c12b08; }
.m_oreProcess ol{ margin-top: 23px; }
.m_oreProcess ol li,.m_technology ul li{ position: relative; float: right; width: 250px; height: 145px; cursor: pointer; }
.m_oreProcess ol li+li,.m_technology ul li+li{ margin-right: 23px; }
.m_oreProcess ol li p,.m_technology ul li p{ position: absolute; bottom: 0; padding-left: 15px; width: 235px; height: 33px; line-height: 33px; background:rgba(255,255,255,0.8); filter:alpha(opacity=80); font-size: 14px; }
.m_oreProcess ol li:hover p,.m_technology ul li:hover p{ background:rgba(0,0,0,0.8); filter:alpha(opacity=80); color: white; }
.m_technology{ margin-top: 30px; }
.m_technology ul{ margin-top: 20px; }
.m_technology h1+p{ margin-top: 10px; }
.m_minerals{ margin-top: 38px; padding: 40px 20px 0 35px; height: 262px; background-color: #ebebeb; }
.m_mineralsLeft{ width: 495px; }
.m_mineralsLeft h2{ font-size: 48px; line-height: 32px; margin-bottom: 30px; }
.m_mineralsLeft p{ margin: 10px 0;}
.m_mineralsRight{ width: 448px; }
.m_mineralsRight li{ position: relative; float: right; margin: 11px 0 0 14px; cursor: pointer; }
.m_mineralsRight li p{ display: none; position: absolute; left: 0; top: 0; width: 98px; height: 98px; line-height: 98px; background:rgba(0,0,0,0.8); filter:alpha(opacity=80); text-align: center; font-size: 14px; color: white; }
.m_mineralsRight li:hover p{ display: block; }
/* mining website end */